footer {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:darkred;
    color: cornsilk;
    margin-top: 50px;
}

#adres, #contact {
    margin-top: 50px;
}

footer h3, footer h4 {
    margin: 0;
}

@media screen and (min-width: 768px) {
    footer {
        flex-direction: row;
    }

    #adres, #contact {
        margin-top: 0;
    }
}