.week-menu {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    border: 1px solid rgba(200, 200, 200, 0.5);
    box-shadow: 0 0 10px rgba(0 , 0, 0, .4);;
    margin: 25px 0;
}

.week-menu h2 {
    margin-top: 50px;
    text-decoration: underline;
}

.red {
    color: darkred;
}

.week-menu h3 {
    margin: 5px auto;
}

h3.prijs {
    margin-bottom: 25px;
}

.week-menu-item:last-child {
    margin-bottom: 50px;
}


@media screen and (min-width: 768px) {
    .week-menu {
        width: 400px;
        margin: 0 25px;
    }
}

