#home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#info {
  width: 80%;
  margin-bottom: 50px;
}

.menu-btn {
  width: 200px;
  height: 75px;
  background-color: darkred;
  color: cornsilk;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 5px solid darkred;
}

.menu-btn:hover {
  background-color: cornsilk;
  color: darkred;
}

.menu-btn p {
  font-size: xx-large;
  margin-bottom: 40px;
  display: inline-block;
  text-align: center;
  vertical-align: center;
}