#menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu-categorie {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: none;
}

.menu-categorie:nth-child(odd) {
    background-color: lightgray;
}

.menu-categorie h3 {
    width: 100%;
    justify-self: center;
}

.menu-item {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin: 5px;
}

.menu-nummer {
    width: 30px
}

.menu-gerecht {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin: 0 16px
}

.menu-prijs {
    width: 100px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {
    .menu-item {
        width: 800px;
        margin: 5px 16px;
    }

    .menu-item:last-child {
        margin-bottom: 12px;
    }

    .menu-categorie {
        width: 800px;
        margin: 16px;
    }
}